html {
  height: 100%;  
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin: 0 !important;

  padding: 0;
  height: 100%;
  min-height: 100%;
  position: relative;

  max-width:100%;
  overflow-x: hidden;
}


